<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2017-2018 Manbang Group
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wlqq.phantom.library">

    <application
        android:allowBackup="false"
        android:label="@string/app_name">
        <!-- 非透明主题的标准启动模式坑位 Activity -->
        <activity
            android:name=".proxy.ActivityHostProxy"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <!-- 透明主题的标准启动模式坑位 Activity -->
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxyTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--
            为兼容现有的插件，非标准启动模式的坑位依然保持透明主题
            比如：司机版货源插件使用了非标准模式的透明 Activity
            TODO
            后续会考虑为非标准启动模式的 Activity 也提供非透明的坑位
        -->
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop0"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop30"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop31"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop32"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop33"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop34"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop35"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop36"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop37"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop38"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop39"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop40"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop41"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop42"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop43"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop44"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop45"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop46"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop47"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop48"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTop49"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask0"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask30"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask31"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask32"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask33"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask34"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask35"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask36"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask37"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask38"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask39"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask40"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask41"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask42"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask43"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask44"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask45"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask46"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask47"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask48"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleTask49"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance0"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".proxy.ActivityHostProxy$ActivityProxySingleInstance29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <service
            android:name=".proxy.ServiceHostProxy$P1"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P2"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P3"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P4"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P5"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P6"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P7"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P8"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P9"
            android:exported="false"/>
        <service
            android:name=".proxy.ServiceHostProxy$P10"
            android:exported="false"/>
    </application>

</manifest>
